<!--HOMEPAGE-->
  <div id="home">
    <div class="col-md-12 text-center" style="margin-top: 175px;">
      <h1 class="cta">CONNECT</h1>
      <h4 class="cta">WITH LOCAL/GLOBAL CAUSES</h4>
      <br />
      <button class="btn btn-cta" style="color: #fff; padding: 10px 10px; height: 40px; border-radius: 0">How it works</button><br />
      <!--Search Bar-->
      <input type="text" placeholder="search-term" ng-model="query" required ng-trim="false"/><br>
      <a href="#/searchresults"><button class="btn btn-primary">Search</button></a>
      <br />
      <div class="weather">
        
      </div>
    </div>

  </div>

